
.container
  .row.form-inline.inputs
    .col-md-6
      #generate-data.btn.btn-primary
        Generate random data
    .col-md-6
      #stock-group.form-group{ style: stocks.empty? ? 'display: none' : '' }
        = label_tag 'stocks', 'Stocks'
        = select_tag('stocks', options_from_collection_for_select(stocks, :id, :name), 
          include_blank: true, class: 'form-control') 
  
  .row
    #chart.col-md-12
