<%= routes = Rails.application.routes.url_helpers %>

$ ->
  # Google charts
  $('head').append($('<script>',{
    'src':"//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['line'],'callback':null}]}",
    'type':"text/javascript"}));

  # Vars
  chart       = $('#chart')
  stockGroup  = $('#stock-group')
  stockSelect = $('#stocks')
  
  # Generate random data
  $('#generate-data').on 'click', (e) ->
    chart.empty()
    $.ajax
      url:      '<%= routes.create_data_path(:js) %>',
      type:     'POST',
      dataType: 'json',
      success: (data) ->
        options = '<option></option>'
        for pair in data
          options += "<option value='#{pair[0]}'>#{pair[1]}</option>"
        stockSelect.html(options)
        stockGroup.show()
      error: ->
        alert('An error occured. Please retry later.');
  
  # Stock selection
  stockSelect.on 'change', (e)->
    stockId = stockSelect.val()
    
    if '' == stockId
      return chart.empty()
      
    $.ajax
      url:      '<%= routes.stock_price_data_path(:js) %>',
      data:     { id: stockId },
      dataType: 'json',
      success:  (data) ->
        for row in data
          row[0] = new Date(row[0])
        drawChart(stockSelect.find('option:selected').text(), data)
      error: ->
        alert('An error occured. Please retry later.');
  
  drawChart = (column, rows) ->
    data = new google.visualization.DataTable()
    data.addColumn('date', 'Date')
    data.addColumn('number', column)
    data.addRows(rows)
    
    # Set chart options
    options =
      'title':'Stock prices - last 30 days',
      'tooltip': {isHtml: true},      
      'width': '100%',
      'height': $(window).height() - 140
  
    # Instantiate and draw our chart, passing in some options.
    new google.charts.Line(chart[0]).draw(data, options)
  