!!! 5
%html
  %head
    %meta{ 'http-equiv': 'Content-Type',    content: 'text/html; charset=utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', { media: :all }
    = javascript_include_tag 'application'
  %body
    = yield
